.app{
 align-items: center;
 display: flex;
 flex-direction: column;


    }
    h2{
        margin-bottom: 1rem;
    }

.produts-list{
display: grid;
 display: flex;
flex-direction: column;
max-width: 900px;
box-shadow: rgb(47, 47, 61) 0px 7px 29px 0px;
}

#navbar{

text-align: center;
    align-items: center;
display: flex;
justify-content: center;
flex-direction: row;
gap: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    width: 100%;
    height: 50px;

    gap: 1rem;
    text-decoration: none;
 
}

#navbar ul{
text-decoration: none;
display: flex;
gap: 2rem;
list-style-type: none;
cursor: pointer;



}
.btn-home{
margin-right: 15rem;
margin-left: 15rem;
 
    width: 120px;
    height: 50px;
    font-weight: bold;
    border-radius: 5px;

}
.btn-home:hover{
  border-radius: 10px;
  background-color: #ccc;
        
    }
    





